body {
    background-color: #837777;
    color: #4e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#4e1e1e, tan);
}

header {
    background-image: url('hairCompany.jpg');
    background-position: right;
    background-repeat: no-repeat;
}

nav {
    font-weight: bold;
    float: left;
    width: 160px;
    background-color: tan;
    height: 900px;
}

nav a {
    background-color: tan;
    opacity: 0.5;
    transition: 2s;
}

nav a:hover {
    transition: 2s linear;
    opacity: 1;
}

main {
    margin-left: 190px;
}

#salon {
    margin-left: 190px;
}

footer {
    text-align: center;
    background-color: tan;
}

h1 {
    background-color: tan;
}

table {
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid #4e1e1e;
    border-collapse: collapse;
}

td, th {
    border: 2px solid #4e1e1e;
}

tr:nth-of-type(odd) {
    background-color: blanchedalmond;
}

tr:nth-of-type(even) {
    background-color: beige;
}

form {
    background-color: blanchedalmond;
    width: 200px;
    padding: 10px;
}

label {
    float: left;
    display: block;
    width: 100px;
    padding-right: 10px;
    margin-top: 10px;
    text-align: left;
}

input {
    display: block;
    margin-top: 10px;
}

input[type="submit"] {
    margin-left: 100px;
}


